@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-dark: #222831;
  --color-gray: #31363F;
  --color-teal: #76ABAE;
  --color-light: #EEEEEE;
}

body {
  color: var(--color-light);
  background-color: var(--color-dark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-geist-sans);
  color: var(--color-teal);
  font-weight: 700;
}

body, p, span, div {
  font-family: var(--font-geist-sans);
  font-weight: 400;
}

code, pre {
  font-family: var(--font-geist-mono);
}
